 @font-face {
     font-family: 'Neuropolitical';
     src: url('assets/webfonts/neuropolitical-rg.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
 }

 .logo h1 {
     display: flex;
     gap: 5px;
     align-items: center;
     justify-content: center;
     margin: 0;
 }

 .logo h1 span {
     display: inline;
     font-weight: bold;
     font-size: 40px;
 }

 .rojo {
     color: red;
     font-family: 'Neuropolitical';
 }

 .gris {
     color: #555555;
     font-family: 'Neuropolitical';
 }
